<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header"><%= @admin.name %> Information</div>
            <div class="card-body">
                <%= form_for(@admin) do |f| %>
                    <div class="form-horizontal">
                        <% if @admin.errors.any? %>
                            <div id="error_explanation">
                                <h2>
                                <%= I18n.t("errors.messages.not_saved",
                                            count: @admin.errors.count,
                                            resource: @admin.class.model_name.human.downcase)
                                %>
                                </h2>
                                <ul>
                                <% @admin.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                                </ul>
                            </div>
                        <% end %>
                        <div class="form-group row">
                            <%= f.label :email, class: "col-xl-2 col-form-label" %>
                            <div class="col-xl-10">
                                <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email"  %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <%= f.label :name, class: "col-xl-2 col-form-label" %>
                            <div class="col-xl-10">
                                <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name"  %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <%= f.label :bio, class: "col-xl-2 col-form-label" %>
                            <div class="col-xl-10">
                                <%= f.text_area :bio, class: "form-control", autofocus: true, autocomplete: "bio"  %>
                            </div>
                        </div>

                        <% if current_admin.role == "Super Admin" %>
                            <div class="form-group row">
                                <%= f.label :role, class: "col-xl-2 col-form-label" %>
                                <div class="col-xl-10">
                                    <%= f.select :role, options_for_select([
                                                    ["Super Admin"],
                                                    ["Admin"],
                                                    ["Staff"]
                                                ], selected: f.object.role), {}, class: "custom-select"
                                            %>
                                </div>
                            </div>
                        <% end %>
                        
                        
                        <div class="form-group row">
                            <div class="col-xl-10">
                                <%= f.submit "Update Admin Information", class:"btn btn-sm btn-info" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>