<div class="content-heading">
    <div>
    Admins
    <small>List of all Admin Accounts</small>
    </div>
    <% if admin_signed_in?  && current_admin.role == "Super Admin" %>
        <div class="ml-auto">
            <div class="btn-group">
                <button class="btn btn-link" data-toggle="dropdown">
                    <em class="fa fa-ellipsis-v fa-lg"></em>
                </button>
                <div class="dropdown-menu dropdown-menu-right-forced animated fadeInLeft" role="menu">
                    <a href="" class="dropdown-item" data-toggle="modal" data-target="#myModalLarge">
                        <em class='fa-fw fa fa-plus mr-2'></em> Add New Admin
                    </a>
                    
                </div>
            </div>
        </div>
    <% end %>
</div>
<div class="container-fluid">
   <!-- DATATABLE DEMO 1-->
   <div class="card">
      <div class="card-body">
         <table class="table table-striped my-4 w-100" id="datatable1">
            <thead>
               <tr>
                  <th data-priority="1">ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Bio</th>
                  <th>Role</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody>
                <% @admins.each do |admin| %>
                <tr>
                    <td><%= admin.id %></td>
                    <td><%= admin.name %></td>
                    <td><%= admin.email %></td>
                    <td><%= admin.bio %></td>
                    <td><%= admin.role %></td>
                    <td> 
                        <%= link_to "View", admin_path(admin),class:"btn btn-primary"%>
                        <% if current_admin.role == "Super Admin"  || current_admin.role == "Admin" && admin.role != "Super Admin" %>
                           <%= link_to "Edit", edit_admin_path(admin), class: "btn btn-info" %>
                           <%= link_to "Delete", admin_path(admin), class: "btn btn-danger", data: { confirm_swal: '', remote: true, method: 'DELETE' }  %>
                        <% end %>
                    </td>
                </tr>
               <% end %>
            </tbody>
         </table>
      </div>
   </div>
</div>
<% content_for :body_area do %>
    <!-- Modal Large-->
    <div class="modal fade" id="myModalLarge" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true">
       <div class="modal-dialog modal-lg">
          <div class="modal-content">
             <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelLarge">Modal title</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                <%= render 'form' %>
             </div>
          </div>
       </div>
    </div>
<% end %>