<div class="unwrap">
    <% if @cover_photo.attached? %>
        <div style="background-image: url(<%= url_for(@cover_photo) %>)" class="bg-cover">
    <% else %>
        <div style="background-image: url(<%= asset_path 'angle/profile-bg.jpg' %>)" class="bg-cover">
    <% end %>

        <div class="p-4 text-center text-white">
            <% if @avatar.attached? %>
                <%= image_tag @avatar, class:"img-thumbnail rounded-circle thumb128"%>
            <% else %>
                <img class="img-thumbnail rounded-circle thumb128" src="<%= image_path('angle/user/09.jpg') %>" alt="Image" />
            <% end %>
            <h3 class="m-0"><%= @admin.name %></h3>
            <p><%= @admin.email%></p>
        </div>
    </div>
    <div class="p-3">
        <div class="row">
            <div class="col-lg-8">
                <div class="card card-default mb-3">
                    <div class="card-header">Admin Information</div>
                    <div class="card-body">
                        <h5 class="card-title">Bio</h5>
                        <p class="card-text"><%= @admin.bio %></p>
                        <%= link_to 'Action', '#link-to-some-page', data: { confirm_swal: 'hello world' }%>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card card-default">
                    <div class="card-body">
                        <% if @admin == current_admin %>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <%= link_to "Edit Admin", edit_admin_path(@admin), class: "btn btn-pill-left btn-info" %>
                                    <%= link_to "Delete Admin", admin_path(@admin), class: "btn btn-pill-right btn-danger", data: { confirm_swal: '', remote: true, method: 'DELETE' } %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>