<div class="row">
    <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-body text-center">
                    <div class="py-4">
                        <img class="img-fluid rounded-circle img-thumbnail thumb96" src="<%= image_path('angle/user/02.jpg') %>" alt="Contact" />
                    </div>
                    <h3 class="m-0 text-bold"><%= @user.name %></h3>
                    <div class="my-3">
                        <p><%= @user.bio %></p>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-8">
        <div class="card card-default">
            <div class="card-header d-flex align-items-center">
                <div class="d-flex justify-content-center col">
                    <div class="h4 m-0 text-center">Contact Information</div>
                </div>                
            </div>
            <div class="card-body">
            <div class="row py-4 justify-content-center">
                <div class="col-12 col-sm-10">
                    <%= render 'form' %>
                    <div class="text-right">
                        <%= button_to "Delete Account",
                        user_path(@user),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class:"text-muted btn btn-danger text-white" %>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>