<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="sidebar-nav">
         <% if logged_in? %>
         <!-- START user info-->
         <li class="has-user-block">
            <div id="user-block" class="collapse">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail rounded-circle" />
                        <div class="circle circle-success circle-lg"></div>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name">Hello, <%= link_to current_user.name, current_user %></span>
                     <span>
                        <%= button_to logout_path, method: :delete, class: "btn btn-link text-primary" do %>
                           <em class='icon-logout'></em>&nbsp;&nbsp;Logout
                        <% end %>
                     </span>
                  </div>
               </div>
            </div>
         </li>
         <% end %>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="nav-heading">
            <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
         </li>
         <li class="<%= 'active' if controller?('home')%>">
            <a href="#home" title="Dashboard" data-toggle="collapse">
               <div class="badge badge-info float-right">3</div>
               <em class="icon-speedometer"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
            </a>
            <ul id="home" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('home') %>">
               <li class="sidebar-subnav-header">Dashboard</li>
               <li class="<%= 'active' if controller?('home') %>">
                  <a href="/" title="Home">
                     <em class="icon-home"></em>
                     <span>Home</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('home') %>">
                  <%= link_to users_path, title:"Users" do %>
                        <div class="badge badge-info float-right"><%= User.all.count %></div>
                        <em class='fas fa-users'></em>
                        <span>Users</span>
                  <% end %>
               </li>
               <li class="<%= 'active' if controller?('products') %>">
                  <%= link_to products_path, title:"Products"  do %>
                        <div class="badge badge-info float-right"><%= Product.all.count %></div>
                        <em class='fas fa-boxes'></em>
                        <span>Products</span>
                  <% end %>
               </li>
            </ul>
         </li>
         <li class="nav-heading">
            <span>Demo Navigation</span>
         </li>

         <li class="<%= 'active' if controller?('multilevel') %>">
            <a href="#multilevel" title="Multilevel" data-toggle="collapse">
               <em class="far fa-folder-open"></em>
               <span>Demo Pages</span>
            </a>
            <ul id="multilevel" class="sidebar-nav sidebar-subnav collapse <%= 'show' if controller?('multilevel') %>">
               <li class="sidebar-subnav-header">Demo Pages</li>
               <%= render'layouts/partials/demo_links' %>
            </ul>
         </li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->